body {
  margin: 0;
  padding: 0;
  background-color: rgb(41, 41, 41);
}
body form {
  background-color: rgb(238, 244, 215);
  width: 80%;
  border-radius: 6px;
  margin: 3rem auto;
  padding: 1rem 1rem;
}

body label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  display: block;
  background-color: rgb(195, 177, 95);
  border: 0 solid rgb(195, 177, 95);
  border-radius: 3px;
  padding: 8px 16px;
}

#productname {
  width: 50%;
  margin-bottom: 16px;
}


input.warning {
  background-color: rgb(233, 124, 65);
}

#remaining-chars.warning {
  color: rgb(211, 54, 54);
}